################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AtPeopleDemo
/src/AtPeopleDemo.Android/bin/Debug
/src/AtPeopleDemo.Android/obj
/src/AtPeopleDemo.iOS/obj
/src/AtPeopleDemo/bin/Debug/netstandard2.0
/src/AtPeopleDemo/obj
